<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>REGISTRATION PAGE</h1>

    {{#errors}}
    {{.}}
    {{/errors}}

    <div class="registration">
      <p class="userPrompt">Enter a username and password.</p>
      <form action="/api/registration" method ="post">

        <label for="username">Username:</label><br>
        <input type="text" name="username" value="" placeholder=" "><br>
        <br>
        <label for="password">Password:</label><br>
        <input type="password" name="password" value="" placeholder=" "><br>
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>


  </body>
</html>
