<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/snippet.css">
    <title>Code Snippets</title>
  </head>
  <body>

    <div class="snippets">
      <p class="userPrompt">Enter your code snippet below</p>
      <form action="/api/createsnippets" method ="post">
        <label for="snippetID">Enter Snippet ID:</label><br>
        <input type="text" name="snippetID" value="" placeholder=" "><br>
        <br>
        <label for="snippetTitle">Enter the Snipper Title:</label><br>
        <input type="text" name="snippetTitle" value="" placeholder=" "><br>
        <br>
        <label class="snippetBody" for="snippetBody">Enter the Snipper Body:</label><br>
        <input type="text" name="snippetBody" value="" placeholder=" "><br>
        <br>
        <label for="optNotes">Enter your Snippet Optional Notes:</label><br>
        <input type="text" name="optNotes" value="" placeholder=" "><br>
        <br>
        <label for="snippetLang">Enter the language of the Code Snippet:</label><br>
        <input type="text" name="snippetLang" value="" placeholder=" "><br>
        <br>
        <label for="snippetTag">Enter the Snipper Tag:</label><br>
        <input type="text" name="snippetTag" value="" placeholder=" "><br>
        <br>
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="allSnippets">
      {{#allSnippets}}
      {{.}}
      {{/allSnippets}}
    </div>
  </body>
</html>
